<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div class="card" th:each="i : ${announcements}">
    <img src="https://placehold.co/300">
    <div>
        <h4 th:text="${i.title}">제목</h4>
        <p th:text="${i.date}">날짜</p>
    </div>
</div>
<!--<div th:if="${announcements != null}">-->
<!--    <div class="card" th:each="i : ${announcements}">-->
<!--        <img src="https://placehold.co/300">-->
<!--        <div>-->
<!--            <h4 th:text="${i.title}">제목</h4>-->
<!--            <p th:text="${i.date}">날짜</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->
<!--<p th:if="${announcements == null}">공지사항이 없습니다.</p>-->
</body>
</html>