<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<div class="detail">
    <h4>상세페이지</h4>
    <img th:src="${data.imgUrl != null} ? ${data.imgUrl} : 'https://placehold.co/300'">
    <h4 th:text="${data.title}">금도금바지</h4>
    <p th:text="${data.price + '원'}">7억</p>
    <p th:text="${data.count + '개'}">개수</p>
</div>

<div sec:authorize="isAuthenticated()">
    <form action="/order" method="POST">
        <input style="display:none" name="itemName" th:value="${data.title}">
        <input style="display:none" name="price" th:value="${data.price}">
        <input name="count" type="number" min="0" max="10" step="1">
        <input style="display:none" name="id" th:value="${data.id}">
        <button type="submit">구매</button>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <h4>로그인 해야 구매할 수 있음</h4>
</div>

<div sec:authorize="isAuthenticated()">
    <form action="/commentsave" method="POST">
        <input name="content">
        <input style="display:none" name="parentId" th:value="${data.id}">
        <button type="submit">작성</button>
    </form>
</div>
<div sec:authorize="isAnonymous()">
    <h4>로그인 해야 댓글 달 수 있음</h4>
</div>

<div class="comments-section">
    <h4>댓글 목록</h4>
    <ul>
        <li th:each="comment : ${comments}">
<!--        <li th:each="comment : ${comments.content}">-->
            <strong th:text="${comment.username}">작성자</strong> :
            <span th:text="${comment.content}">내용</span>

            <div sec:authorize="hasAuthority('관리자')">
                <a th:href="@{ '/edit/comment/' + ${comment.id} }">✏️</a>

                <span th:onclick="fetch('/comment?id=[[${comment.id}]]', { method : 'DELETE' })
                        .then(r=>r.text())
                        .then(() => {
                            location.reload();
                        })
                        ">🗑️</span>
            </div>

            <div th:if="${comment.username == #authentication.name}">
                <a th:href="@{ '/edit/comment/' + ${comment.id} }">✏️</a>

                <span th:onclick="fetch('/comment?id=[[${comment.id}]]', { method : 'DELETE' })
                        .then(r=>r.text())
                        .then(() => {
                            location.reload();
                        })
                        ">🗑️</span>
            </div>

        </li>
    </ul>
</div>

<div>
    <span th:if="${pages > 1}">
        <a class="btn" th:href="@{ '/detail/' +${id} + '?page=' + ${pages-1}}">◀️</a>
    </span>

    <span th:each="p : ${pageList}">
            <a th:if="${p != pages}"
               th:href="@{ '/detail/' +${id} + '?page=' + ${p} }"
               th:text="${p}">pages</a>
            <strong th:if="${p == pages}"
                    th:text="${p}">current page</strong>
        </span>

    <span th:if="${pages < last}">
            <a class="btn" th:href="@{ '/detail/' +${id} + '?page=' + ${pages+1} }">▶️</a>
        </span>
</div>

</body>
</html>