<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>
<div th:replace="~{ nav.html::navbar }"></div>

<form action="/edit/item" method="POST">
    <input type="hidden" name="id" th:value="${data.id}">
    <input name="title" th:value="${data.title}">
    <input type="hidden" name="username" th:value="${data.userid}">
    <input name="price" th:value="${data.price}">
    <input type="hidden" name="imgUrl" th:value="${data.imgUrl}">
    <input name="count" type="number" min="0" max="10" step="1" th:value="${data.count}">
    <button type="submit">전송</button>
</form>

</body>
</html>