<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/main.css" rel="stylesheet">

</head>
<body>

    <div th:replace="~{ nav.html::navbar }"></div>

    <form action="search" method="POST">
        <input name="searchText" style="display : inline">
        <button>검색</button>
    </form>

    <div class="card" th:each="i : ${items}">
        <img th:src="${(i.imgUrl != null and !#strings.isEmpty(i.imgUrl)) ? i.imgUrl : 'https://placehold.co/300'}">
        <div>
            <h4 th:text="${i.title}" >제목</h4>
            <a th:href="@{ '/detail/' + ${i.id} } ">링크</a>
            <p th:text="${i.price}">가격</p>
            <p th:text="${i.userid}">유저아이디</p>
            <a th:href="@{ '/edit/' + ${i.id} }">✏️</a>

            <span th:onclick="fetch('/item?id=[[${i.id}]]', { method : 'DELETE' })
                .then(r=>r.text())
                .then(() => {
                    location.reload();
                })
                ">🗑️</span>
        </div>
    </div>

    <div>
        <span th:if="${pages > 1}">
            <a class="btn" th:href="@{ '/list/page/' + ${pages-1} }">◀️</a>
        </span>

<!--        <span th:each="p : ${pageList}">-->
<!--            <a class="btn" th:href="@{ '/list/page/' + ${p} }" th:text="${p}">page</a>-->
<!--        </span>-->
        <span th:each="p : ${pageList}">
            <a th:if="${p != pages}"
             th:href="@{ '/list/page/' + ${p} }"
             th:text="${p}">pages</a>
            <strong th:if="${p == pages}"
                  th:text="${p}">current page</strong>
        </span>

        <span th:if="${pages < last}">
            <a class="btn" th:href="@{ '/list/page/' + ${pages+1} }">▶️</a>
        </span>
    </div>

</body>
</html>