<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="/main.css" rel="stylesheet">

</head>
<body>

<div th:replace="~{ nav.html::navbar }"></div>

<form action="search" method="POST">
  <input name="searchText" style="display : inline">
  <button>검색</button>
</form>

<div class="card" th:each="s : ${sales}">
  <div>
    <h4 th:text="${s.itemName}" >상품 이름</h4>
    <p th:text="${s.price}">상품 가격</p>
    <p th:text="${s.count}">상품 개수</p>
    <p th:text="${s.member.id}">유저아이디</p>
    <p th:text="${s.member.username}">유저이름</p>
  </div>
</div>

</body>
</html>